/* @theme rose-pine-moon */
/*
Rosé Pine theme create by RAINBOWFLESH
> www.rosepinetheme.com
MIT License https://github.com/rainbowflesh/Rose-Pine-For-Marp/blob/master/license

palette in :root
*/

@import "default";
@import "schema";
@import "structure";

:root {
    --base: #232136;
    --surface: #2a273f;
    --overlay: #393552;
    --muted: #6e6a86;
    --subtle: #d0cedb;
    --text: #e0def4;
    --love: #eb6f92;
    --gold: #f6c177;
    --rose: #ea9a97;
    --pine: #3e8fb0;
    --foam: #9ccfd8;
    --iris: #c4a7e7;
    --highlight-low: #2a283e;
    --highlight-muted: #44415a;
    --highlight-high: #56526e;
    --variable: #42BA97;

    font-family: ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
        "Noto Color Emoji";
    font-weight: initial;

    background-color: var(--base);
}
/* Common style */
h1 {
    /* Fallback: Set a background color. */
    background-color: var(--rose);
    
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #d64f76, #d9ce86);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    
    padding-bottom: 2mm;
    margin-bottom: 12mm;
}
h2 {
    color: var(--rose);
}
h3 {
    color: var(--rose);
}
h4 {
    color: var(--rose);
}
h5 {
    color: var(--rose);
}
h6 {
    color: var(--rose);
}
a {
    color: var(--iris);
    /* add underline */
    text-decoration: underline;
}
p {
    font-size: 20pt;
    font-weight: 600;
    color: var(--text);
}
code {
    color: var(--text);
    background-color: var(--highlight-muted);
}
text {
    color: var(--text);
}
ul {
    color: var(--subtle);
}
li {
    color: var(--subtle);
}
img {
    background-color: var(--base);
}
strong {
    color: var(--text);
    font-weight: inherit;
    font-weight: 800;
}
mjx-container {
    color: var(--text);
}
marp-pre {
    background-color: var(--overlay);
    border-color: var(--highlight-high);
}

/* Code blok */
.hljs-comment {
    color: var(--muted);
}
.hljs-attr {
    color: var(--foam);
}
.hljs-punctuation {
    color: var(--subtle);
}
.hljs-string {
    color: var(--gold);
}
.hljs-title {
    color: var(--foam);
}
.hljs-keyword {
    color: var(--pine);
}
.hljs-variable {
    color: var(--foam);
}
.hljs-literal {
    color: var(--rose);
}
.hljs-type {
    color: var(--love);
}
.hljs-number {
    color: var(--gold);
}
.hljs-built_in {
    color: var(--love);
}
.hljs-params {
    color: var(--iris);
}
.hljs-symbol {
    color: var(--foam);
}
.hljs-meta {
    color: var(--subtle);
}

.hljs-subst {
    color: #D34052;
}

section {
    background-image: 
    url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="120" height="120" viewBox="0 0 256 256"%3E%3Cpath fill="%23409a9a" d="M230.91 172a8 8 0 0 1-2.91 10.91l-96 56a8 8 0 0 1-8.06 0l-96-56A8 8 0 0 1 36 169.09l92 53.65l92-53.65a8 8 0 0 1 10.91 2.91M220 121.09l-92 53.65l-92-53.65a8 8 0 0 0-8 13.82l96 56a8 8 0 0 0 8.06 0l96-56a8 8 0 1 0-8.06-13.82M24 80a8 8 0 0 1 4-6.91l96-56a8 8 0 0 1 8.06 0l96 56a8 8 0 0 1 0 13.82l-96 56a8 8 0 0 1-8.06 0l-96-56A8 8 0 0 1 24 80m23.88 0L128 126.74L208.12 80L128 33.26Z"%2F%3E%3C%2Fsvg%3E')/* ロゴのURL */,
    url("data:image/svg+xml,%3Csvg width='60.571' height='16.048' viewBox='0 0 60.571 16.048' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='svgGroup' stroke-linecap='round' fill-rule='evenodd' font-size='9pt' stroke='%230000000c' stroke-width='0.25mm' fill='%23409A9A' style='stroke:%230000000c;stroke-width:0.25mm;fill:%23409A9A'%3E%3Cpath d='M 55.862 0.969 L 55.267 2.312 Q 54.553 1.921 53.814 1.666 A 4.651 4.651 0 0 0 52.777 1.442 A 5.818 5.818 0 0 0 52.173 1.411 Q 51.102 1.411 50.269 1.981 Q 49.436 2.55 48.952 3.655 Q 48.467 4.76 48.467 6.358 A 7.737 7.737 0 0 0 48.54 7.45 Q 48.623 8.033 48.802 8.528 A 4.426 4.426 0 0 0 48.909 8.798 A 4.111 4.111 0 0 0 49.407 9.655 A 3.247 3.247 0 0 0 50.133 10.353 A 3.048 3.048 0 0 0 51.801 10.895 A 3.739 3.739 0 0 0 51.935 10.897 A 3.87 3.87 0 0 0 52.887 10.784 A 3.202 3.202 0 0 0 53.627 10.498 Q 54.366 10.098 54.791 9.673 L 54.791 7.072 L 52.326 7.072 L 52.326 5.797 L 56.321 5.797 L 56.321 12.104 L 54.893 12.104 L 54.893 10.914 A 6.1 6.1 0 0 1 54.149 11.474 A 8.05 8.05 0 0 1 53.448 11.875 Q 52.598 12.308 51.561 12.308 A 4.517 4.517 0 0 1 49.978 12.036 A 4.167 4.167 0 0 1 49.113 11.594 A 4.571 4.571 0 0 1 47.765 10.184 A 5.772 5.772 0 0 1 47.43 9.563 A 6.38 6.38 0 0 1 46.936 7.936 A 8.812 8.812 0 0 1 46.818 6.46 A 9.571 9.571 0 0 1 46.96 4.774 A 7.237 7.237 0 0 1 47.464 3.103 A 5.564 5.564 0 0 1 48.447 1.581 A 5.007 5.007 0 0 1 49.325 0.825 A 4.732 4.732 0 0 1 51.258 0.077 A 6.301 6.301 0 0 1 52.258 0 A 7.694 7.694 0 0 1 53.273 0.064 A 5.713 5.713 0 0 1 54.23 0.272 Q 55.097 0.544 55.862 0.969 Z M 1.615 12.104 L 0 12.104 L 0 0.204 L 1.615 0.204 L 1.615 5.287 L 7.48 5.287 L 7.48 0.204 L 9.095 0.204 L 9.095 12.104 L 7.48 12.104 L 7.48 6.681 L 1.615 6.681 L 1.615 12.104 Z M 10.71 15.708 L 11.05 14.433 Q 11.254 14.552 11.56 14.637 A 2.297 2.297 0 0 0 11.947 14.708 A 2.951 2.951 0 0 0 12.24 14.722 Q 12.954 14.722 13.515 14.263 A 2.041 2.041 0 0 0 13.844 13.913 Q 14.141 13.52 14.423 12.865 A 9.958 9.958 0 0 0 14.586 12.461 L 14.977 11.441 L 14.161 11.441 L 10.71 3.672 L 12.07 3.06 L 15.368 10.421 L 17.935 3.128 L 19.346 3.672 L 16.099 12.546 A 12.194 12.194 0 0 1 15.75 13.411 Q 15.563 13.825 15.364 14.163 A 5.246 5.246 0 0 1 15.028 14.671 A 4.126 4.126 0 0 1 14.539 15.217 Q 14.167 15.56 13.753 15.742 Q 13.056 16.048 12.206 16.048 A 4.321 4.321 0 0 1 11.784 16.029 Q 11.529 16.003 11.314 15.946 A 3.456 3.456 0 0 1 11.07 15.872 Q 10.956 15.832 10.861 15.788 A 1.464 1.464 0 0 1 10.71 15.708 Z M 22.729 15.844 L 21.199 15.844 L 21.199 5.525 Q 21.199 4.947 20.918 4.701 A 0.972 0.972 0 0 0 20.444 4.476 A 1.358 1.358 0 0 0 20.196 4.454 L 20.519 3.264 A 2.979 2.979 0 0 1 21.238 3.344 Q 21.723 3.465 22.036 3.768 A 1.726 1.726 0 0 1 22.474 4.505 Q 22.644 4.25 23.027 3.91 A 3.213 3.213 0 0 1 23.486 3.573 A 4.347 4.347 0 0 1 23.979 3.315 Q 24.548 3.06 25.279 3.06 Q 26.299 3.06 27.191 3.596 A 3.796 3.796 0 0 1 28.412 4.78 A 4.669 4.669 0 0 1 28.628 5.143 A 4.366 4.366 0 0 1 29.052 6.34 Q 29.161 6.867 29.171 7.473 A 7.525 7.525 0 0 1 29.172 7.599 Q 29.172 9.01 28.628 10.073 A 4.734 4.734 0 0 1 27.959 11.064 A 3.915 3.915 0 0 1 27.209 11.722 Q 26.333 12.308 25.313 12.308 Q 24.531 12.308 23.851 11.994 Q 23.194 11.69 22.759 11.298 A 3.171 3.171 0 0 1 22.729 11.271 L 22.729 15.844 Z M 38.454 8.313 L 32.266 8.313 A 4.095 4.095 0 0 0 32.46 9.167 Q 32.687 9.815 33.133 10.251 A 2.404 2.404 0 0 0 34.429 10.899 A 3.404 3.404 0 0 0 35.02 10.948 Q 35.785 10.948 36.397 10.787 Q 37.009 10.625 37.57 10.37 L 37.927 11.679 A 6.931 6.931 0 0 1 37.19 11.955 A 8.817 8.817 0 0 1 36.55 12.13 A 6.615 6.615 0 0 1 35.684 12.269 A 8.844 8.844 0 0 1 34.833 12.308 A 4.814 4.814 0 0 1 33.516 12.137 A 3.588 3.588 0 0 1 31.816 11.093 A 3.999 3.999 0 0 1 30.931 9.471 Q 30.759 8.876 30.716 8.168 A 8.011 8.011 0 0 1 30.702 7.684 Q 30.702 6.358 31.204 5.313 A 4.189 4.189 0 0 1 32.056 4.109 A 3.891 3.891 0 0 1 32.606 3.664 A 3.578 3.578 0 0 1 34.35 3.073 A 4.455 4.455 0 0 1 34.697 3.06 Q 35.851 3.06 36.649 3.512 A 2.926 2.926 0 0 1 36.813 3.613 Q 37.655 4.165 38.08 5.1 A 4.791 4.791 0 0 1 38.492 6.777 A 5.684 5.684 0 0 1 38.505 7.157 A 12.785 12.785 0 0 1 38.456 8.296 A 11.866 11.866 0 0 1 38.454 8.313 Z M 42.075 12.104 L 40.545 12.104 L 40.545 3.264 L 42.024 3.264 L 42.024 5.185 Q 42.245 4.624 42.619 4.14 Q 42.993 3.655 43.554 3.358 Q 44.115 3.06 44.863 3.06 Q 45.118 3.06 45.373 3.086 A 3.225 3.225 0 0 1 45.552 3.108 Q 45.637 3.122 45.71 3.139 A 1.499 1.499 0 0 1 45.798 3.162 L 45.339 4.743 A 1.66 1.66 0 0 0 44.974 4.639 Q 44.806 4.61 44.614 4.607 A 2.821 2.821 0 0 0 44.574 4.607 Q 43.945 4.607 43.376 4.964 A 2.278 2.278 0 0 0 42.785 5.508 Q 42.598 5.75 42.445 6.059 A 3.929 3.929 0 0 0 42.44 6.069 A 3.285 3.285 0 0 0 42.191 6.802 Q 42.112 7.156 42.087 7.57 A 6.645 6.645 0 0 0 42.075 7.973 L 42.075 12.104 Z M 60.571 12.104 L 58.956 12.104 L 58.956 0.204 L 60.571 0.204 L 60.571 12.104 Z M 22.729 5.542 L 22.729 9.894 Q 23.171 10.353 23.749 10.651 Q 24.327 10.948 25.007 10.948 Q 26.145 10.948 26.863 10.067 A 2.958 2.958 0 0 0 26.886 10.039 A 3.195 3.195 0 0 0 27.479 8.797 Q 27.592 8.339 27.606 7.804 A 5.874 5.874 0 0 0 27.608 7.65 A 4.768 4.768 0 0 0 27.541 6.827 Q 27.451 6.316 27.243 5.899 Q 26.877 5.168 26.274 4.777 Q 25.67 4.386 24.939 4.386 A 2.506 2.506 0 0 0 23.982 4.567 A 2.389 2.389 0 0 0 23.621 4.752 Q 23.122 5.063 22.826 5.417 A 2.2 2.2 0 0 0 22.729 5.542 Z M 32.249 7.072 L 37.094 7.072 A 4.14 4.14 0 0 0 37.025 6.293 Q 36.941 5.853 36.753 5.509 A 2.112 2.112 0 0 0 36.448 5.083 Q 35.802 4.386 34.663 4.386 A 2.309 2.309 0 0 0 33.794 4.545 A 2.129 2.129 0 0 0 33.031 5.075 A 2.578 2.578 0 0 0 32.531 5.872 Q 32.32 6.387 32.249 7.072 Z' vector-effect='non-scaling-stroke'/%3E%3C/g%3E%3C/svg%3E"); /* メイン背景のURL */;
    background-position: 
      right 110px top 30px /* ロゴの位置（右上、オフセットあり） */,
      right 30px top 40px /* メイン背景の基準位置 */;
    background-size:
      100px 42px, /* ロゴのサイズ */
      100px; /* メイン背景のサイズ */
    background-repeat: no-repeat /* 共通 */;
  }



div.colwrap {
    background-color: inherit;
    color: inherit;
    width: 100%;
    height: 100%;
  }
  div.colwrap div:first-child, div.colwrap div:first-child {
    margin-top: 30px !important;
  }
  div.colwrap div.left, div.colwrap div.right {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 70px 35px 70px 70px;
  }
  div.colwrap div.left {
    right: 50%;
    left: 0;
  }
  div.colwrap div.right {
    left: 50%;
    right: 0;
  }